.center-top {
    position: relative;
    .right {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }
}
.kiko-date {
    position: absolute;
    bottom: .05rem;
    left: 0;
    z-index: 1;
    input {
        text-align: center;
        color: #ccc !important;
        font-size: .22rem !important;
    }
    .ant-picker-suffix {
        display: none;
    }
}
.ant-picker {
    background: #2B2B2B;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.refresh-icon {
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: .1rem;
    left: .25rem;
}