.left-top {
    &-center {
        padding-top: .32rem;
        height: .8rem;
        font-size: 34px;
        font-weight: 600;
    }
    &-bottom {
        margin-bottom: .2rem;
        justify-content: space-between;
        &-con {
            width: 49%;
            padding: .1rem 0;
            text-align: center;
        }
    }
}