.day-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
    font-size: .2rem;
    color: #fff;
    .day-page-con {
        display: flex;
        flex-direction: column;
    }
    .title {
        flex: .5;
    }
    .center {
        flex: 4;
        .barContaniner {
            width: 100%;
            height: 100%;
            flex: 1;
            display: flex;
            .barContaniner-left {
                flex: .5;
                margin: .5rem;
                position: relative;
                &-title {
                    position: absolute;
                    top: -.3rem;
                    left: -.2rem;
                    font-size: .24rem;
                    display: flex;
                    align-items: center;
                }
            }
            .barContaniner-right {
                padding-right: .5rem;
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                &-title {
                    width: 100%;
                    margin: .2rem 0 .1rem 0;
                    font-size: .24rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &-left {
                        align-items: center;
                    }
                    &-right {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .tabs {
                            display: flex;
                            border: 1px solid rgba(255, 255, 255, 0.4);
                            border-radius: .6rem;
                            margin-right: .2rem;
                            .item {
                                display: flex;
                                align-items: center;
                                padding: .05rem .2rem;
                                color: #999;
                                font-size: .16rem;
                                &:first-child {
                                    border-right: 1px solid rgba(255, 255, 255, 0.4);
                                }
                                .tabs-icon {
                                    width: .24rem;
                                }
                                .active {
                                    color: #fff;
                                }
                                .text {
                                    margin-left: .1rem;
                                }
                            }
                        }
                        .barContaniner-right-btn {
                            display: flex;
                            align-items: center;
                            border-radius: .6rem;
                            border: 1px solid rgba(255, 255, 255, 0.4);
                            margin-left: .2rem;
                            padding: .05rem .2rem;
                            color: #999;
                            font-size: .16rem;
                            &.active {
                                color: #fff;
                                border: 1px solid rgba(255, 255, 255, 1);
                            }
                            &-icon {
                                width: .2rem;
                                margin-right: .1rem;
                            }
                        }
                        .config-icon {
                            width: .5rem;
                            height: .5rem;
                            margin-left: .1rem;
                            padding: 0 .1rem;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                &-content {
                    position: relative;
                    &-legend {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        font-size: .16rem;
                        li {
                            margin-left: .5rem;
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                        .circle {
                            display: inline-block;
                            width: .1rem;
                            height: .1rem;
                            border-radius: 50%;
                            margin-right: .1rem;
                        }
                        &.device-type-legend {
                            li {
                                margin-left: .15rem;
                            }
                        }
                    }
                    .name-text,.light-name-text {
                        position: absolute;
                        right: 7%;
                        bottom: 10%;
                        font-size: .16rem;
                        color: #999;
                    }
                    .unit {
                        position: absolute;
                        right: 5%;
                        top: 0;
                        font-size: .16rem;
                    }
                }
                .config-con {
                    position: absolute;
                    right: 3%;
                    top: 11%;
                    z-index: 9;
                    max-height: 320px;
                    padding: .05rem;
                    overflow: auto;
                    background: #fafafa;
                    color: rgba(0, 0, 0, 0.65);
                    font-weight: 600;
                    font-size: .14rem;
                    border-radius: 4px;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                    li {
                        padding: .05rem .12rem;
                    }
                }
            }
        }
    }
    .bottom {
        flex: 3;
        max-height: 5.5rem;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        .bottom-con {
            flex: 1;
            padding: .2rem .3rem;
            display: flex;
            flex-direction: column;
            .text {
                font-size: .24rem;
                margin-bottom: .2rem;
                font-weight: 700;
            }
            .box {
                display: flex;
                flex-direction: column;
                position: relative;
                .box-con {
                    flex: 1;
                    margin-top: .1rem;
                    border: 1px solid #363537;
                    box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
                    border-radius: .12rem;
                    color: #fff;
                    padding: .1rem .2rem 0 .2rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    &:first-child {
                        margin-top: 0;
                    }
                    &-ul {
                        display: flex;
                        flex: 1;
                        &-li {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            &.right {
                                flex: 1.3;
                            }
                            &-title {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex: .5;
                                color: #999;
                                text-align: center;
                            }
                            &-value {
                                flex: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                    .up,.down {
                                        .triangle {
                                            display: inline-block;
                                            margin-left: .05rem;
                                            margin-right: .05rem;
                                            position: relative;
                                            width: 0;
                                            height: 0;
                                        }
                                        .box-con-ul-li-value-scope-value {
                                            display: inline-block;
                                            margin-top: .06px;
                                            font-size: .16rem;
                                        }
                                    }
                                    .up {
                                        
                                        color: #EF8F8F;
                                        margin-top: 0.1rem;
                                        .triangle {
                                            border-top: .1rem solid transparent;
                                            border-left: .1rem solid transparent;
                                            border-bottom: .1rem solid #EF8F8F;
                                            border-right: .1rem solid transparent;
                                        }
                                    }
                                    .down {
                                        margin-top: .2rem;
                                        color: #9AE4A7;
                                        .triangle {
                                            margin-top: 0.04rem;
                                            vertical-align: top;
                                            border-top: .1rem solid #9AE4A7;
                                            border-left: .1rem solid transparent;
                                            border-bottom: .1rem solid transparent;
                                            border-right: .1rem solid transparent;
                                            
                                        }
                                    }
                                }
                        }
                    }
                    .p1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .p2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .value {
                            font-size: .6rem;
                        }
                        .unit {
                            margin-left: .1rem;
                            margin-top: .1rem;
                        }
                    }
                }
            }
        }
        .bottom-con2,.bottom-con3 {
            padding: .2rem .3rem;
            display: flex;
            flex-direction: column;
            .text {
                font-size: .24rem;
                font-weight: 700;
                margin-bottom: .2rem;
            }
            .box {
                display: flex;
                position: relative;
                .box-con {
                    display: flex;
                    flex-direction: column;
                    margin-left: .3rem;
                    border: 1px solid #363537;
                    box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
                    border-radius: 12px;
                    color: #fff;
                    padding: .1rem .2rem 0 .2rem;
                    position: relative;
                    &:first-child {
                        margin-left: 0;
                    }
                    .p1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: .1rem;
                        .icon {
                            width: .44rem;
                            height: .44rem;
                            padding: .08rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background: #363537;
                        }
                    }
                    .p2 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #999;
                        flex: 1;
                        .right {
                            display: flex;
                            .value {
                                font-size: .24rem;
                                color: #fff;
                                font-weight: 700;
                            }
                            .unit {
                                margin-top: .03rem;
                                margin-left: .1rem;
                            }
                        }
                    }
                }
            }
        }
        .bottom-con2 {
            flex: 2;
            border-left: 1px solid rgba(255, 255, 255, 0.24);
            border-right: 1px solid rgba(255, 255, 255, 0.24);
        }
        .bottom-con3 {
            flex: 1;
            .text {
                display: flex;
                align-items: center;
            }
        }
    }
}