.home {
	padding: .2rem;
    background: url("../../assets/pageBg.png") no-repeat;
	background-color: #262626;
	background-size: 100% 100%;
	background-position: 10px 200px;
	overflow: hidden;
    color: #fff;
}