.foot-page-right {
    flex: .3;
    min-width: 260px;
    margin-left: .12rem;
    padding: .2rem .12rem .3rem .12rem;
    color: #fff;
    font-size: .18rem;
    .title {
        font-size: .2rem;
    }
    .right-bottom {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .right-bottom-con1,.right-bottom-con2,.right-bottom-center {
			display: flex;
			flex-direction: column;
			margin-top: .12rem;
			background: #262626;
			border: 1px solid #363537;
			box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
			border-radius: 8px;
			position: relative;
        }

        .right-bottom-center{
        .right-bottom-center-title {
            padding: .15rem .16rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #363537;
            .text {
                display: flex;
                align-items: center;
            }
            .right-bottom-center-right {
                color: #999;
            }
        }
        .right-bottom-center-con {
            box-sizing: border-box;
            padding: .08rem .16rem;
            display: flex;
            flex-direction: column;
                position: relative;
            .right-bottom-center-con-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex: 1;
				.right-bottom-center-con-item-left {
					display: flex;
					align-items: center;
					.right-bottom-center-con-item-icon {
						width: .25rem;
					}
					.name {
						margin-left: .08rem;
					}
				}
				.right-bottom-center-con-item-right {
					color: #999;
					.span {
						color: #fff;
					}
				}
            }
        }
        }
        .right-bottom-con1,.right-bottom-con2 {
            flex: 1;
            .item0 {
                flex: 1;
                padding: .1rem .2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #363537;
                .right-circle{
                    width: 15%;
                    display: flex;
                    justify-content: end;
                    .icon {
                        width: 60%;
                        height: 60%;
                    }
                    
                }
            }
            .item1 {
                flex: 1;
                padding: .1rem .2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid #363537;
                &:last-child{
                    border-bottom: 0;
                }
                .item1-zqbd {
                    justify-content: center;
                }
                .center {
                    margin-top: .05rem;
                    text-align: center;
                }
                .flex {
                    width: 100%;
                    display: flex;
                }
                .p {
                    display: flex;
                    justify-content: space-between;

                    .type-fire-icon {
                        padding-left: .2rem;
                        width: .8rem;
                    }
                }
                .num {
                    display: flex;
                    align-items: end;
                    .unit {
                        font-size: .36rem;
                    }
                    .icon {
                        width: .4rem;
                        margin-left: .1rem;
                        &.up {
                            transform:rotate(180deg);
                        }
                    }
                }
            }
        }
        .right-bottom-con1 {
            max-height: 2.4rem;
        }
        .right-bottom-con2 {
            max-height: 3rem;
        }
        .right-bottom-center {
        	flex: .9;
            max-height: 3rem;
        }
    }
}
.blue {
    color: #0BA5EC !important;
}
.ant-statistic .ant-statistic-title {
    color: #fff;
}