.card {
    position: relative;
    .top {
        display: flex;
        justify-content: space-between;
        .ant-checkbox-wrapper {
            margin: .2rem .5rem 0 0;
        }
        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            .kinko-selection {
                margin: .1rem .5rem 0 0;
            }
        }
    }
    .content {
        flex: 1;
        margin-top: .1rem;
    }
}