.organization-summary {
    margin-top: .12rem;
    padding-left: 12%;
    background: #fff;
    border-radius: .16rem;
    .li {
        align-items: center;
        margin-top: .24rem;
        .label {
            width: 1.5rem;
            i {
                margin-left: .05rem;
                vertical-align: middle;
            }
        }
    }
    .input { 
        width: 20%;
    }
    .picker {
        width: 100% !important;
    }
}