.year-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    padding-bottom: 0.3rem;
    font-size: .2rem;
    .year-page-con {
        display: flex;
        flex-direction: column;
    }
    .title {
        flex: .5;
        
    }
    .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        .year-picker {
            height: .6rem;
            display: flex;
            align-items: center;
            justify-content: end;
            &-popver {
                margin-right: .05rem;
            }
            .year-range-picker {
                margin-right: .3rem;
                width: 1.5rem;
                text-align: left;
                
                ::v-deep .ant-input {
                    background: #1E1E1E;
                    color: #999;
                    border: 1px solid #999;
                    padding: .07rem;
                    height: auto;
                    line-height: normal;
                    font-size: 0.16rem;
                }
                ::v-deep .ant-calendar-range-picker-separator {
                    color: #999;
                }
            }
            .kinko-selection {
                margin-right: .3rem;
            }
        }
        .con {
            flex: 1;
            padding-right: .3rem;
            position: relative;
            .unit {
                position: absolute;
                top: -.2rem;
                left: 3%;
                z-index: 9;
                color: #999;
            }
        }
    }
    .bottom {
        flex: 1;
        min-height: 6.5rem;
        max-height: 7rem;
        box-sizing: border-box;
        padding: .24rem;
        padding-right: .4rem;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        display: flex;
        flex-direction: column;
        .li {
            display: flex;
            .lr {
                writing-mode: vertical-lr;
                letter-spacing: 4px;
            }
            
            .card {
                display: flex;
                background: #363537;
                border-radius: .2rem;
                align-items: center;
                border: 1px solid #363537;
                .name {
                    padding: 0 .15rem;
                    color: #DFDFDD;
                    writing-mode: vertical-lr;
                }
                .right-card {
                    flex: 1;
                    padding: .1rem .2rem;
                    background: #262626;
                    border-top-right-radius: .2rem;
                    border-bottom-right-radius: .2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1;
                    }
                    .text {
                        color: #999;
                    }
                    .value {
                        font-weight: 700;
                        font-size: .24rem;
                        .unit {
                            color: #999;
                        }
                    }
                    
                }
            }
            .title {
                font-weight: 700;
                font-size: .22rem;
            }
            .left {
                flex: 1;
                position: relative;
                .list {
                    display: flex;
                    flex-wrap: wrap;
                    .card {
                        width: 48%;
                        margin-top: .2rem;
                        margin-left: .2rem;
                        &:nth-child(2n-1) {
                            margin-left: 0;
                        }
                    }
                }
            }
            .right {
                flex: 1;
                margin-left: .1rem;
                position: relative;
                .list {
                    display: flex;
                    box-sizing: border-box;
                    .card2 {
                        flex: 1;
                        border: 1px solid #363537;
                        box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
                        border-radius: 12px;
                        margin-top: .2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .2rem .6rem .2rem .3rem;
                        &:last-child {
                            margin-left: .12rem;
                        }
                        .icon {
                            display: flex;
                            width: .8rem;
                            height: .8rem;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background: #363537;
                            padding: .14rem;
                        }
                        .name {
                            margin-top: .2rem;
                        }
                        .icon-small {
                            display: flex;
                            align-items: center;
                            margin-bottom: .1rem;
                            .icon-small-icon {
                                width: .3rem;
                                margin-right: .1rem;
                            }
                            .text {
                                color: #999;
                                margin-left: .01rem;
                            }
                        }
                    }
                }
            }
        }
        .add {
            flex: 1;
            margin-bottom: 0.3rem;
        }
        .management {
            flex: .8;
            display: block;
            box-sizing: border-box;
            .li-con {
                display: flex;
                .left,.right {
                    flex: 1;
                }
                .right {
                    margin-left: .2rem;
                }
            }
            .management-con {
                position: relative;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: .15rem 0;
                .management-con-title {
                    flex: .15;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    margin-right: .12rem;
                }
                .management-con-right{
                    margin-left: .2rem;
                    flex: .8;
                    display: flex;
                    flex-direction: column;
                    .card2 {
                        flex: 1;
                        &:last-child {
                            margin-top: .1rem;
                        }
                    }
                }
                .card1 {
                    flex: 1;
                    .item {
                        flex: 1;
                    }
                }
                .card3 {
                    flex: 1;
                    &:last-child {
                        margin-left: .1rem;
                    }
                    .item {
                        flex: 1;
                    }
                }
                
            }
            
        }
    }
}
.ml12 {
    margin-left: .12rem;
}
.mt1 {
    margin-top: .1rem;
}
.green1 {
    background: #05603A !important;
    border: 1px solid #027A48 !important;
    box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
}
.green2 {
    background: #054F31 !important;
}
.blue1 {
    background: #065986 !important;
    border: 1px solid #026AA2 !important;
    box-shadow: 0px 1.85px 4px rgba(0, 0, 0, 0.08);
}
.blue2 {
    background: #0B4A6F !important;
}