.board-top {
    flex: 1;
    max-height: 95px;
    display: flex;
    position: relative;
    font-size: .18rem;
    .border {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: .2rem;
        margin-left: .1rem;
        position: relative;
        &:first-child {
            margin-left: 0;
        }
        .text {
            justify-content: space-between;
            color: #fff;
            align-items: center;
            margin-bottom: .05rem;
            .bottom {
                width: 30%;
                height: .07rem;
                border-radius: 2rem;
                display: flex;
                overflow: hidden;
                margin-right: .2rem;
                .color0 {
                    display: inline-block;
                    height: 100%;
                    background: #0BCFC8;
                }
                .color1 {
                    display: inline-block;
                    height: 100%;
                    background: #B596FC;
                }
                .color2 {
                    display: inline-block;
                    height: 100%;
                    background: #4565F7;
                }
            }
        }
        .top-unit {
            font-size: .16rem;
            margin-left: .05rem;
        }
    }
}